header{
    background: fixed rgb(92, 16, 87);
    font-family: 'Montserrat-Regular';
    line-height: 1.6;
    z-index: 999;
    margin-bottom: 5rem;
}
.container {
    width: 100%;
    height: 100%;
    min-height: 88vh;
    background: fixed rgb(92, 16, 87);
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    margin-bottom: -2px;
    z-index: 999;
}
.hero-inner {
    width: 100%;
    max-width: calc(1280px + 2rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:.5rem;
    height: 100%;
    color: rgb(255, 255, 255);
}

.hero-text {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1rem;
}
.hero-text h1 {
    align-self: flex-end;
    font-size: 10rem;
}
.hero-inner p{
    align-self: flex-end;
    font-size: 1.5rem;
}

/* body  */
body {
    width: 100%;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.9rem;
    /* background-color:  #a17676; */
    background-color: rgb(48, 4, 40);
    color: rgb(151, 147, 147);
}
.svg-curve{
    width: 100%;
    fill: rgb(92, 16, 87);
    display: block;
    background-color: rgb(48, 4, 40);
    margin-bottom: 2rem;
    z-index: 998;
}
.container-flex{
    margin: 5rem auto;
    position: relative;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* Navbar */

.max-w-screen-xl {
    max-width: 1080px;
    padding: 1rem;
}
.min-h-screen {
    min-height: 100vh;
}
.w-max {
    width: -moz-max-content;
    width: max-content;
}
.bg-slate-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(71 85 105 / var(--tw-bg-opacity));
}
.nav-indicator{
    width: 2rem;
    height: 1px;
    margin-right: 1rem;
    margin-top: 3rem;
}
menu, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav{
    margin-top: 15rem;
    display: block;
}
.nav-text {
    color: rgb(68, 68, 68);
    text-transform: uppercase;
    margin-top: 3rem;
}
.group {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    align-items: center;
}
.group:hover {   
    .nav-text {
        --tw-text-opacity: 1;
        color: rgb(226 232 240 / var(--tw-text-opacity));
    }
    .nav-indicator {
        width: 4rem;
        --tw-bg-opacity: 1;
        background-color: rgb(226 232 240 / var(--tw-bg-opacity));
    }
    .transition-all {
        transition-property: all;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .10s;
    }
}
.active{
    .nav-text {
        --tw-text-opacity: 1;
        color: rgb(226 232 240 / var(--tw-text-opacity));
    }
    .nav-indicator {
        width: 4rem;
        --tw-bg-opacity: 1;
        background-color: rgb(226 232 240 / var(--tw-bg-opacity));
    }
    .transition-all {
        transition-property: all;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .10s;
    }
}
.container-fluid{
    position: fixed;
    display: flex;
    height: 100vh;
    top: 0;
    z-index: 0;
}
/* main */
.pt-24{
    width: 45rem;
    position: absolute;
    margin-left: 40%;
    z-index: 0;
}
.uppercase{
    text-transform: uppercase;
}
.backdrop-blur h2{
    color: beige;
    font-size: 1.1rem;
}
/* about  */
.about {
    margin-top: 8rem;
    font-size: 1.2rem;
}
.about p {
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
}
/* Courses */
section{
    padding-bottom: 4rem;
}
.course{
    margin: 1rem auto;
}
.font-semibold{
    position: relative;
    color: rgb(131, 129, 129);
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-size: .75rem;
    line-height: 1.25;
    padding-right: 1.5rem;
}
.font-medium button{
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: rgb(151, 147, 147);
}
/* model open diploma */
.hide {
   display: none;
}
.open{
    position: absolute;
    z-index: 999;
    width: 40%;
    height: 30%;
    opacity: 1;
    justify-content: center;
    align-items: center;
    padding-left: 25%;
    padding-top: 10%;
    zoom: 50%;
}
.open img{
    display: block;
    border-radius: 2rem;
    box-shadow: 0px 0px 3rem rgb(90, 217, 221);
}
.open .cancel{
    border: none;
    background-color: transparent;
}
.open .cancel svg{
    color: red;
    width: 3rem;
    height: 3rem;
    top: 1.3rem;
    right: 0;
    padding: 5px;
    background-color:transparent;
    cursor: pointer;
}
.mr-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: purple;
    background: rgb(170, 147, 180);
    border-radius: 2rem;
    opacity: .8;
}
.text-teal-300 {
    color: rgb(94 234 212 / var(--tw-text-opacity));
    line-height: 1.25;
    font-size: .75rem;
    font-weight: 500;
    padding: .25rem .75rem .25rem .75rem;
}
.element{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin-top: .5rem;
}
.element li{
    margin-left: .25rem;
}

/* Projects */
#projects{
    position: relative;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.list-item{
    padding: .5rem 0.25rem 2rem .75rem;
}
.text{
    padding-top: 1rem;
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.text h3{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}
.text p {
    position: relative;
    font-size: .875rem;
    line-height: 1.5;
}

/* Contact */
#contact{
    margin-bottom: 5rem;
    padding-left: 2rem;
}
.contact{
     position: relative;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     gap: 1.5rem;
}
.contact p {
    font-size: 1.3rem;
}
.contact svg{
    color: rgb(255, 255, 255);;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: .75rem;
}
@media (min-width: 1024px) {
    .lg\:opacity-0 {
        opacity: 0;
    }
    .lg\:py-0 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .lg\:px-0 {
        padding-left: 0;
        padding-right: 0;
    }
    .lg\:sr-only {
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }
    .lg\:w-1\/2 {
        width: 50%;
    }
    .lg\:block {
        display: block;
    }
    .list-item:hover{
        border: none;
        background-color:  rgb(61, 0, 50);
        border-radius: 1.5rem;
    }
    .text{
        width: 75%;
    }

}
@media screen and (max-width: 1250px) {
    .container{
        zoom: 80%;
        padding-left: 0;
        margin-left: 2rem;
    }
    .open{
        width: 30%;
        zoom: 35%;
        padding-top: 50%;
        padding-left: 15%;
    }
}
@media screen and (max-width: 1024px) {
    header{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .container{
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    .hero-inner{
        flex-direction: column-reverse;
        gap: 1.5rem;
    }
    .hero-text {
        grid-template-rows: auto 1fr;
        
    }
    .hero-image {
        margin-left: 0;
        margin-top: 0rem;
        margin-bottom: -3rem;
    }
    .hero-image img {
        width: 70%;
        height: auto;
    }    
    .hidden {
        display: none;
    }
    #main{
        margin: .75rem;
    }
    .text{
        width: 80%;
    }
}
@media  screen and (max-width: 780px) {
   .container{
        zoom: 85%;

   }
   .hero-text h1{
        padding-top: 3rem;
        font-size: 5rem;
   }
   .hero-image{
        align-items: center;
   }
    .about{
      width: 80%;
    }
    .text{
        width: 60%;
    }
    .open{
        padding-left: 5%;
        zoom: 30%;
        padding-top: 80%;
    }

}
@media (min-width: 640px) {
    .sm\:col-span-6 {
        grid-column: span 6 / span 6;
    }
    .sm\:order-2 {
        order: 2;
    }
}
@media screen and (max-width: 640px) {
    .about{
        width: 65%;
    }
    .project{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: start;
    }
   .element{
      width: 50%;
   }
   .open{
    zoom: 25%;
    width: 5%;
    padding-top: 120%;
    padding-left: 5%;
}
}
@media screen and (max-width: 576px) {
    .container{
        zoom: 70%;
        padding-left:1rem;
    }
    .about{
        width: 50%;
    }
    .project{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: start;
    }
    .text{
        width: 50%;
    }
   .element{
      width: 40%;
   }
   .contact p{
     font-size: 1rem;
   }
   .open{
    padding-top: 200%;
   }
}
